<div class="container">
<div class="col-lg-12">
<div class="naganocake">
</div>
	<h1 style="font-weight: bold;">About</h1>
</div>
<div class="col-lg-12">
	ONE UPでは様々なカテゴリーの募集から自身が関心のある<br>
	投稿にコメントして参加することで、同じ「目標」のユーザー同士を<br>
	繋げたいという気持ちからできたサイトです。<br>
	募集の投稿には会員登録が必要です。サイト上部の新規登録から<br>
	会員登録してご利用くださいませ。
</div>
</div>