<% if flash[:notice] %>
 <div class="alert alert-info text-center">
<%= flash[:notice] %>
 </div>
<% end %>
<header>
    <h1 class="heading">
        OneUp
    </h1>
</header>
<div class="search">
  <div class="wrapper">
    <div class="container">
      <div class="row">
   	    <h2>ようこそONE UPへ！</h2>
      </div> 
    </div>
  </div>
</div>
<div class="eyecatch">
	<div class="contentbox">
		<h1 style="font-weight: bold;">
		<p>上部より会員登録をお願い致します！</p>
		<br>
		<br></h1>
	<footer>
	    
	</footer>
	</div>
      </div>
	    </div>
          </div>