<% if @model == 'customer' %>
	<h3>Customers search for "<%= @content %>"</h3>
  <%= render 'customers/index', customers: @records %>
<% elsif @model == 'post' %>
	<h3>Posts search for "<%= @content %>"</h3>
  <%= render 'posts/index', posts: @records %>
<% end %>