// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* トップページ用　css */

.wrapper {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

.toppege-image {
  background-image: url("/images/sakura.jpg");
  background-position: center;
  background-size: cover;
  height: 800px;
}
