<li class="nav-item">
        <%= link_to notifications_path, class: "nav-link" do %>
          <% if current_customer.present? %><% current_customer.notifications.where(checked: false).exists? %>
            <i class="fa-sharp fa-solid fa-bell fa-beat" style="color: #f2ee7d;"></i>
          <% else %>
            <i class="fa-sharp fa-solid fa-bell"></i>
          <% end %>
          通知一覧
        <% end %>
      </li>
<li><%= link_to liked_posts_customer_path(current_customer), data: { "turbolinks" => false } do %><i class="fas fa-thumbs-up"></i>いいねした投稿<% end %></li>
<li><%= link_to "タイムライン", timeline_path %></li>